<!DOCTYPE html>
{% extends 'layout.html' %}

{% block title %}
     About
{% endblock %}

{% block content %}
   <h1> About </h1>
   <p> check out my <a href="/"> Home </a> page. </br>
   </br></br>
   
   </p>

   <h2> Result students could expect: </br>
   
   </h2>
   <p>    An improvement of 2 to 3 grades for 'O' level Pure Physics </br> 
          An improvement of 2 to 3 grades for 'A' level H1 students</br>
                                                            </br>   
   </p> 

{% endblock %}


 