{% extends 'layout.html' %}

{% block title %}
     Female Physics Tutor
{% endblock %}

{% block content %}
   <h1> Past students </h1>
   <p> check out my <a href="/about"> About </a> page. </br>
   </br>
   </p>
   
   <h2> Nanhua girl:   </h2>
   <p>    After attending my 1-to-1 tuition for 1.5 years, girl improved from C5 to A2 for 'O'level Pure Physics. </br> 
          
                    </br>   
   </p> 
   <h2> CHIJ girl:   </h2>    
   <p>    After attending my 1-to-1 tuition for 1.5 years, girl improved from C5 to A2 for 'O' level Pure Physics. </p>           

{% endblock %}
